import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'helpers/base'



//import('../blocks/**/*')
@import '../blocks/header/header'
@import '../blocks/profile/profile'
@import '../blocks/checkboxes/checkboxes'
@import '../blocks/js-skills/js-skills'
@import '../blocks/about/about'
@import '../blocks/plans/plans'
@import '../blocks/date/date'