section.about
	h2.title Расскажите о себе словами
	.content.content_about Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке мееста для текста строки будут добавляться автоматически.
	.about__about-me 
		.about__item Начала изучать веб-разработку с марта 
		.about__item 2018 года. На данный момент практикуюсь,
		.about__item набираюсь опыта и ищу постоянную работу :) 
		
	