.about
	margin-bottom 60px
	
.content_about
	margin-bottom 43px
	
.about__about-me
	font-family 'Courier New', serif
	font-size 30px
	color #231f20

.about__item
	border-bottom 3px solid brown-color
	
	margin-bottom 25px