.profile
	margin-bottom 70px
	
.profile__item 
	display flex
	justify-content flex-start
	
	margin-bottom 30px
	
.profile__title
	margin-right 15px
	
	white-space nowrap
	
	align-self flex-end
	
		
.profile__title-text
	font-family 'PT Sans', sans-serif
	font-weight 700
	font-size 22.43px
	
	color brown-color
	
.profile__content
	width 100%
	padding-left 15px
	border-bottom 3px solid brown-color
	
	
	
.profile__content-text
	font-family 'Courier New', serif
	font-size 30px
	color #231f20
    
	
.profile__content-text_link
	text-decoration none
	transition .7s
	&:hover 
		color #1f5f97