section.profile
	ul.profile__list
		li.profile__item 
			.profile__title
				h2.profile__title-text Полное ФИО
			.profile__content 
				.profile__content-text Сысоева Анна Дмитриевна
		li.profile__item 
			.profile__title
				h2.profile__title-text Год рождения
			.profile__content 
				.profile__content-text 1986
		li.profile__item 
			.profile__title
				h2.profile__title-text Место жительства
			.profile__content
				.profile__content-text г.Санкт-Петербург, Россия
		li.profile__item 
			.profile__title
				h2.profile__title-text Скайп
			.profile__content
				a.profile__content-text.profile__content-text_link(href="skype:ann-kd") ann-kd
		li.profile__item 
			.profile__title
				h2.profile__title-text Почта
			.profile__content
				a.profile__content-text.profile__content-text_link(href="mailto:rw1zz@yandex.ru") rw1zz@yandex.ru
			
			