section.plans
	.title Какие у вас планы на будущее?
	.content.content_plans Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
	.plans__radio-block
		label.plans__radio-item
			input(type="radio" name="plans_radio").plans__radio
			.plans__radio-custom
			.plans__radio-title Верстать
			
		label.plans__radio-item
			input(type="radio"  name="plans_radio" checked).plans__radio
			.plans__radio-custom
			.plans__radio-title  Прокачиваться в JS
			
		label.plans__radio-item
			input(type="radio"  name="plans_radio").plans__radio
			.plans__radio-custom
			.plans__radio-title Менеджерство
			
		label.plans__radio-item
			input(type="radio"  name="plans_radio").plans__radio
			.plans__radio-custom
			.plans__radio-title Другое

	