body
	background-color #797979
	font-family 'PT Sans', sans-serif
	
body, html
	height 100%
	
.wrapper
	min-height 100%	
	width 1002px
	margin 0 auto
	background #e3c390 url("../../img/wrapper-bg.jpg") 
	background-repeat repeat-y
	
	
	
.container
	width 771px
	margin 0 auto
	
.title
	font-size 24px
	font-weight 700
	color brown-color
	
	margin-bottom 15px
	

.content
	font-size 15px
	color grey-color
	
	line-height 1.5
	