section.checkboxes
	h2.title Расскажите о себе чекбоксами
	p.content.content_checkboxes Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
	.checkboxes__list
	
		.checkboxes__column
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text БЭМ/OOCSS
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Pug (Jade)
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Stylus/LESS/SASS
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Работаю с SVG
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Верстаю семантично
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0")
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Accessibility (A11Y)
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0")
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text ES2015/ES2016
				
		.checkboxes__column
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Gulp/GRUNT
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" )
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Webpack
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" )
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Дружу с WebGL
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text jQuery
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" )
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Знаю/изучаю Angular
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0")
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Знаю/изучаю React
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0")
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Знаю/изучаю Node.js
				
		.checkboxes__column
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" checked)
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Использую Git
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" )
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text С глазомером всё ок
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" )
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Читаю 
					a.checkboxes__checkbox-link(href="http://blog.csssr.ru/") blog.csssr.ru
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0")
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text Я ленивый(-ая)
			label.checkboxes__item
				input.checkboxes__checkbox(type="checkbox" tabindex="0" )
				.checkboxes__checkbox-custom
				span.checkbox__checkbox-text У меня хороший английский
			
			
			
















