header.header
	.header__row
		.logo 
			img(src="img/logo.png" alt="Логотип").logo__img
		.header__secret 
			img(src="img/header-secret.png" alt="Секретно").header__secret-img
	.header__title 
		img(src="img/header-title.png" alt="Заголовок 'Дело'").header__title-img
	
	
	