section.js-skills
	h2.title.title_js-skills Уровень владения JavaScript
	.js-skills__block
		
		.js-skills__line
			.js-skills__arrow.js-arrow
		.js-skills__list
			.js-skills__item Не владею
			.js-skills__item Использую готовые решения
			.js-skills__item Использую готовые решения и умею их переделывать, пишу несложный и порой "костыльный" JS
			.js-skills__item Пишу сложный JS с нуля
	